In [2]:
import A01722536_funciones as fun

In [3]:
funcion_1=fun.funcion_1("Mallorca.xlsx")
funcion_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16867 entries, 0 to 16866
Data columns (total 50 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              16867 non-null  int64
 1   scrape_id                       16867 non-null  int64
 2   last_scraped                    16867 non-null  datetime64[ns]
 3   source                          16867 non-null  object
 4   name                            16867 non-null  object
 5   host_id                         16867 non-null  int64
 6   host_name                       16867 non-null  object
 7   host_since                      16867 non-null  datetime64[ns]
 8   host_location                   12340 non-null  object
 9   host_response_time              15434 non-null  object
 10  host_response_rate              15434 non-null  float64
 11  host_acceptance_rate            16205 non-null  float64
 12  host_is_superhost               16686 non-null  object
 13  host_listings_count             16867 non-null  int64
 14  host_total_listings_count       16867 non-null  int64
 15  host_verifications              16867 non-null  object
 16  host_has_profile_pic            16867 non-null  object
 17  host_identity_verified          16867 non-null  object
 18  neighbourhood                   6401 non-null   object
 19  neighbourhood_cleansed          16867 non-null  object
 20  neighbourhood_group_cleansed    0 non-null      float64
 21  latitude                        16867 non-null  float64
 22  longitude                       16867 non-null  float64
 23  property_type                   16867 non-null  object
 24  room_type                       16867 non-null  object
 25  accommodates                    16867 non-null  int64
 26  bathrooms                       15923 non-null  float64
 27  bedrooms                        16789 non-null  float64
 28  beds                            15907 non-null  float64
 29  price                           15928 non-null  float64
 30  has_availability                16786 non-null  object
 31  availability_30                 16867 non-null  int64
 32  availability_60                 16867 non-null  int64
 33  availability_90                 16867 non-null  int64
 34  availability_365                16867 non-null  int64
 35  calendar_last_scraped           16867 non-null  datetime64[ns]
 36  number_of_reviews               16867 non-null  int64
 37  number_of_reviews_ltm           16867 non-null  int64
 38  number_of_reviews_l30d          16867 non-null  int64
 39  first_review                    13078 non-null  datetime64[ns]
 40  last_review                     13078 non-null  datetime64[ns]
 41  review_scores_rating            13078 non-null  float64
 42  review_scores_accuracy          13078 non-null  float64
 43  review_scores_cleanliness       13078 non-null  float64
 44  review_scores_checkin           13078 non-null  float64
 45  review_scores_communication     13078 non-null  float64
 46  review_scores_location          13078 non-null  float64
 47  review_scores_value             13078 non-null  float64
 48  instant_bookable                16867 non-null  object
 49  calculated_host_listings_count  16867 non-null  int64
dtypes: datetime64[ns](5), float64(16), int64(14), object(15)
memory usage: 6.4+ MB

In [4]:
funcion_2=fun.funcion_2(funcion_1)
funcion_2

             id     scrape_id     host_id  host_response_rate  \
0       69998.0  2.024121e+13    353156.0                 1.0
2      159218.0  2.024121e+13    763897.0                 1.0
4      166820.0  2.024121e+13    794829.0                 1.0
6      193426.0  2.024121e+13  95323653.0                 1.0
8      233901.0  2.024121e+13   1224723.0                 1.0
...         ...           ...         ...                 ...
16857       NaN           NaN         NaN                 NaN
16859       NaN           NaN         NaN                 NaN
16861       NaN           NaN         NaN                 NaN
16863       NaN           NaN         NaN                 NaN
16865       NaN           NaN         NaN                 NaN

       host_acceptance_rate  host_listings_count  host_total_listings_count  \
0                      0.91                  2.0                        5.0
2                      1.00                  1.0                        1.0
4                      1.00                  4.0                        5.0
6                      1.00                  6.0                        8.0
8                      1.00                  1.0                        3.0
...                     ...                  ...                        ...
16857                   NaN                  NaN                        NaN
16859                   NaN                  NaN                        NaN
16861                   NaN                  NaN                        NaN
16863                   NaN                  NaN                        NaN
16865                   NaN                  NaN                        NaN

       neighbourhood_group_cleansed  latitude  longitude  ...  \
0                               NaN  39.56987    2.65464  ...
2                               NaN  39.73839    2.89745  ...
4                               NaN  39.67894    2.50052  ...
6                               NaN  39.89838    3.07582  ...
8                               NaN  39.30207    3.07507  ...
...                             ...       ...        ...  ...
16857                           NaN       NaN        NaN  ...
16859                           NaN       NaN        NaN  ...
16861                           NaN       NaN        NaN  ...
16863                           NaN       NaN        NaN  ...
16865                           NaN       NaN        NaN  ...

       host_identity_verified                               neighbourhood  \
0                           t  Palma de Mallorca, Balearic Islands, Spain
2                           t              Selva, Balearic Islands, Spain
4                           t                       Este_es_un_valor_nulo
6                           t           Pollença, Balearic Islands, Spain
8                           t           Santanyí, Balearic Islands, Spain
...                       ...                                         ...
16857                       t                       Este_es_un_valor_nulo
16859                       t                       Este_es_un_valor_nulo
16861                       t                       Este_es_un_valor_nulo
16863                       t                       Este_es_un_valor_nulo
16865                       t                       Este_es_un_valor_nulo

           neighbourhood_cleansed          property_type        room_type  \
0               Palma de Mallorca            Entire loft  Entire home/apt
2                           Selva         Entire cottage  Entire home/apt
4                     Banyalbufar   Private room in home     Private room
6                        Pollença     Entire rental unit  Entire home/apt
8                        Santanyí         Entire cottage  Entire home/apt
...                           ...                    ...              ...
16857                    Pollença           Entire villa  Entire home/apt
16859  Sant Llorenç des Cardassar            Entire home  Entire home/apt
16861                    Pollença            Entire home  Entire home/apt
16863                 Puigpunyent  Private room in villa     Private room
16865                 Puigpunyent  Private room in villa     Private room

       has_availability  calendar_last_scraped           first_review  \
0                     t             2024-12-15    2012-01-24 00:00:00
2                     t             2024-12-15    2011-09-15 00:00:00
4                     t             2024-12-15    2011-08-08 00:00:00
6                     t             2024-12-15    2012-05-14 00:00:00
8                     t             2024-12-15    2012-07-12 00:00:00
...                 ...                    ...                    ...
16857                 t             2024-12-15  Este_es_un_valor_nulo
16859                 t             2024-12-15  Este_es_un_valor_nulo
16861                 t             2024-12-15  Este_es_un_valor_nulo
16863                 t             2024-12-15  Este_es_un_valor_nulo
16865                 t             2024-12-15  Este_es_un_valor_nulo

                 last_review  instant_bookable
0        2024-10-26 00:00:00                 t
2        2024-10-27 00:00:00                 f
4        2024-10-08 00:00:00                 t
6        2024-09-15 00:00:00                 t
8        2024-10-14 00:00:00                 t
...                      ...               ...
16857  Este_es_un_valor_nulo                 t
16859  Este_es_un_valor_nulo                 t
16861  Este_es_un_valor_nulo                 t
16863  Este_es_un_valor_nulo                 t
16865  Este_es_un_valor_nulo                 t

[16867 rows x 80 columns]

In [6]:
funcion_3=fun.funcion_3(funcion_1)
funcion_3

Por Columna:
           id                                    0
scrape_id                             0
last_scraped                          0
source                                0
name                                  0
host_id                               0
host_name                             0
host_since                            0
host_location                      4527
host_response_time                 1433
host_response_rate                 1433
host_acceptance_rate                662
host_is_superhost                   181
host_listings_count                   0
host_total_listings_count             0
host_verifications                    0
host_has_profile_pic                  0
host_identity_verified                0
neighbourhood                     10466
neighbourhood_cleansed                0
neighbourhood_group_cleansed      16867
latitude                              0
longitude                             0
property_type                         0
room_type                             0
accommodates                          0
bathrooms                           944
bedrooms                             78
beds                                960
price                               939
has_availability                     81
availability_30                       0
availability_60                       0
availability_90                       0
availability_365                      0
calendar_last_scraped                 0
number_of_reviews                     0
number_of_reviews_ltm                 0
number_of_reviews_l30d                0
first_review                       3789
last_review                        3789
review_scores_rating               3789
review_scores_accuracy             3789
review_scores_cleanliness          3789
review_scores_checkin              3789
review_scores_communication        3789
review_scores_location             3789
review_scores_value                3789
instant_bookable                      0
calculated_host_listings_count        0
dtype: int64
Por DataFrame:
           72672

In [7]:
funcion_4=fun.funcion_4(funcion_1)
funcion_4

,last_scraped,source,name,host_name,host_since,host_location,host_response_time,host_is_superhost,host_verifications,host_has_profile_pic,...,number_of_reviews_ltm,number_of_reviews_l30d,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count
0,2024-12-15,city scrape,COZY HIDEAWAY LOFT... MI AMOR...,Lor,2011-01-19,"Palma, Spain",within an hour,t,"['email', 'phone']",t,...,3,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
1,2024-12-15,city scrape,Villa with a big pool in Mallorca,Xisco,2011-05-02,"Palma de Mallorca, Spain",NaN,f,"['email', 'phone']",t,...,8,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,2024-12-15,city scrape,Farmhouse in Nature -ET-3025,Gabriel,2011-06-30,"Inca, Spain",within an hour,t,"['email', 'phone']",t,...,31,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,2024-12-15,city scrape,Corazón de Palma-Habitación con baño privado.,Maria,2011-07-07,"Costa d'en Blanes, Spain",within an hour,NaN,['phone'],t,...,12,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,2024-12-15,city scrape,Guest House with Great sea views - Principal Room,Toni,2011-07-08,"Balearic Islands, Spain",within an hour,f,"['email', 'phone']",t,...,33,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16862,2024-12-15,city scrape,Very Cosy and very central,Martina,2024-07-09,"Palma, Spain",within an hour,f,"['email', 'phone']",t,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
16863,2024-12-15,city scrape,Habitación 5,Holidu,2024-07-02,"Palma, Spain",within an hour,f,"['email', 'phone']",t,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83
16864,2024-12-15,city scrape,Habitación 4,Holidu,2024-07-02,"Palma, Spain",within an hour,f,"['email', 'phone']",t,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83
16865,2024-12-15,city scrape,Habitación 3,Holidu,2024-07-02,"Palma, Spain",within an hour,f,"['email', 'phone']",t,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83
16866,2024-12-15,city scrape,Apartamento,Holidu,2024-07-02,"Palma, Spain",within an hour,f,"['email', 'phone']",t,...,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,83